<div class="event">
  <div class="label">
    <img src="/assets/boy_user.png">
  </div>
  <div class="content">
    <div class="date">
      <%= message.created_at %>
    </div>
  <div class="summary">
    <pre><%= message.user.username %>	:	<%= message.body%></pre>
  </div>
  </div>
</div>