<h4 class="ui center aligned medium icon header">
  <i class="circular inverted yellow comments icon"></i>
  Chat here
</h4>

<body>
<div class="ui grid">
	<div class="twelve wide stretched column changeheight">
	    <div class="ui segment">
		  <div class="ui small feed">
			  <div class="event">
			    <div class="label">
			      <img src="/assets/boy_user.png">
			    </div>
			    <div class="content">
			      <div class="date">
			        3 days ago
			      </div>
			      <div class="summary">
			         <pre>You	:	Hi, me!</pre>
			      </div>
			    </div>
			  </div>
		  </div>
		</div>
		<div class="extra segment">
		    <form class="ui reply form">
			    <div class="field">
			     <div class="ui fluid icon input">
				  <input type="text" placeholder="Enter a message...">
				  <div class="ui blue labeled icon button">
			      <i class="icon edit"></i> Send
			      </div>
				 </div>
			    </div>
		    </form>
		  </div>
	</div>

	<div class="four wide column">
	    <div class="ui vertical fluid right tabular menu">
		  <div class="ui vertical fluid right tabular menu">
		      <a class="active item">
		        Bio
		      </a>
		      <a class="item">
		        Pics
		      </a>
		      <a class="item">
		        Companies
		      </a>
		      <a class="item">
		        Links
		      </a>
		  </div>
		</div>
	</div>
</div>

</body>