<h4 class="ui center aligned medium icon header">
  <i class="circular inverted yellow comments icon"></i>
  Chat here
</h4>

<body>
<div class="ui grid">
	<div class="twelve wide stretched column changeheight">
	    <div class="ui segment">
		  <div class="ui small feed">
			  <%= render @messages %>
		  </div>
		</div>
		<div class="extra segment">
			<%= form_for(@message, html: {class: "ui reply form", role: "form"}, url: message_path) do |f| %>
		        <div class="field">
			     <div class="ui fluid icon input">
					<%= f.text_field :body %>
				 <!-- <div class="ui blue bordered icon button"> -->
			     <%= f.button 'Send <i class="yellow icon edit"></i>'.html_safe %>
			      <!-- </div> -->
				 </div>
			    </div>
		    <% end %>
		</div>
	</div>

	<div class="four wide column">
	    <div class="ui vertical fluid right tabular menu">
		  <div class="ui vertical fluid right tabular menu">
		      <a class="active item">
		        Bio
		      </a>
		      <a class="item">
		        Pics
		      </a>
		      <a class="item">
		        Companies
		      </a>
		      <a class="item">
		        Links
		      </a>
		  </div>
		</div>
	</div>
</div>

</body>